<div id='no-persons'></div>
<div id='persons'>
  <div>
    {{#with person}}
      <p>Name: {{name}}</p>
      <p>Description: {{description}}</p>
    {{/with}}
  </div>
  <div class='divider'></div>
</div>